[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]in/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
.vs/
.vscode/
*.csproj
!server/**/*.csproj
*.sln
!server/LH.Main.Server.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.tmp
Документация-*.zip
_documentation-source/
My project/
.env
.worktrees/
